@media only screen and (max-width: 480px){
	.ancho{
	width: 90%;
	}
	.ancho h1{
	width: 50%;
	font-size: 25px;
	padding-top: 5px;
	}
	h2{
	width: 90%;
	margin: auto;
	font-size: 15px;
	color: #000000;
	}
	.wap{
	padding-top: 10px;
	}
	p{
	width: 80%;
	}
	.titulo1,.titulo2,.titulo3,.titulo4,.titulo5,.titulo6{
	font-size: 25px;
	text-align: center;
 }
}